body {
    background-color: #FBFBFB;
}
h1{
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-weight: 700;
    font-size:72px;
    line-height: 84px;
    color:rgb(255, 255, 255);
    margin:0;
}

.nav-bar {
    width: 1360px;
    height: 40px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 40px;
}

.item {
    display: flex;
    list-style: none;
    gap: 30px;
}

.item .item-list {
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
    text-decoration: none;
    color: black;
}

.item .item-list:hover{
    color: #469165;
}
.item .item-list:active{
    color: #469165;
}

.btn {
    font-family: "Inter", sans-serif1;
    font-optical-sizing: auto;
    padding: 13px 16px;
    font-size:16px;
    font-weight: 600;
    gap: 10px;
    background-color:#469165;
    color:white;
    border:none;
    border-radius: 4px;
}
.btn:hover{
    background-color:#367b4e;
    cursor: pointer;
}

.hero-section{
    margin:0px 0px 0px 0px;
    height:90vh;
    background-image: url('./assets/hero-bg.png');
    background-size:cover;
    background-position: center;
    background-repeat: no-repeat;
}
.hero-section-wrap{
    width: 1360px;
    height: 100%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    gap:20px;
    justify-content: center;
}
.eyebrow{
    display:flex;
    justify-content: center;
    align-items: center;
}
.eyebrow-items{
    font-family: "Inter", sans-serif;
    display:flex;
    gap: 6px;
    padding:8px 12px;
    color:#469165;
    font-size:16px;
    font-weight: 500;
    font-family: "Inter", sans-serif;
    background-color: white;
    border-radius:1000px;
    align-items: center;
}
.eyebrow-icon{
    width:24px;
    height:24px;
}
.eyebrow-text{
    margin:0;
}

.hero-main-text{
    width:100%;
    display:flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}
.green-text{
    color:#469165;
}
.hero-paragraph{
    width:700px;
    text-align: center;
}
.hero-button-wrap{
    width:800px;
    display:flex;
    gap:16px;
    justify-content: center;
    margin-top:20px;
}
.btn-one{
    display: flex;
    width: 255px;
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    padding: 13px 16px;
    font-size:16px;
    font-weight: 600;
    gap: 10px;
    background-color:#469165;
    color:white;
    border:none;
    border-radius: 4px;  
    align-items: center;
}
.btn-one:hover{
    background-color: #367b4e;
    cursor: pointer;
}
.btn-two{
    display: flex;
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    padding: 13px 16px;
    font-size:16px;
    font-weight: 600;
    gap: 10px;
    background-color:transparent;
    color:white;
    border:1px solid white;
    border-radius: 4px;  
}

.btn-two:hover{
    color:#367b4e;
    border:1px solid #367b4e;
    cursor: pointer;
}
.hero-paragraph p{
    font-family: "Inter", sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    color:white;
}
