body {
    background-color: #FBFBFB;
}

.nav-bar {
    width: 1360px;
    height: 40px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 40px;
}

.item {
    display: flex;
    list-style: none;
    gap: 30px;
}

.item .item-list {
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
    text-decoration: none;
    color: black;
}

.item .item-list:hover{
    color: #469165;
}
.item .item-list:active{
    color: #469165;
}

.btn {
    font-family: "Inter", sans-serif1;
    font-optical-sizing: auto;
    padding: 13px 16px;
    font-size:16px;
    font-weight: 600;
    gap: 10px;
    background-color:#469165;
    color:white;
    border:none;
    border-radius: 4px;
}
.btn:hover{
    background-color:#367b4e;
    cursor: pointer;
}