body {
    background-color: #FBFBFB;
}
h1{
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-weight: 700;
    font-size:72px;
    line-height: 84px;
    color:rgb(255, 255, 255);
    margin:0;
}
h2{
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-weight: 700;
    font-size:48px;
    line-height: 60px;
    color:rgb(0, 0, 0);
    margin:0; 
}
h3{
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-weight: 700;
    font-size:40px;
    line-height: 14px;
    color:rgb(0, 0, 0);
    margin:0px; 
}
h5{
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-weight: 600;
    font-size:24px;
    text-align: center ;
    color:rgb(0, 0, 0);
    margin:0px; 
    padding:0px
}

.nav-bar {
    width: 1360px;
    height: 40px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 40px;
}

.item {
    display: flex;
    list-style: none;
    gap: 30px;
}

.item .item-list {
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
    text-decoration: none;
    color: black;
}

.item .item-list:hover{
    color: #469165;
}
.item .item-list:active{
    color: #469165;
}

.btn {
    font-family: "Inter", sans-serif1;
    font-optical-sizing: auto;
    padding: 13px 16px;
    font-size:16px;
    font-weight: 600;
    gap: 10px;
    background-color:#469165;
    color:white;
    border:none;
    border-radius: 4px;
}
.btn:hover{
    background-color:#367b4e;
    cursor: pointer;
}

.hero-section{
    margin:0px 0px 0px 0px;
    height:90vh;
    background-image: url('./assets/hero-bg.png');
    background-size:cover;
    background-position: center;
    background-repeat: no-repeat;
}
.hero-section-wrap{
    width: 1360px;
    height: 100%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    gap:20px;
    justify-content: center;
}
.eyebrow{
    display:flex;
    justify-content: center;
    align-items: center;
}
.eyebrow-items{
    font-family: "Inter", sans-serif;
    display:flex;
    gap: 6px;
    padding:8px 12px;
    color:#469165;
    font-size:16px;
    font-weight: 500;
    font-family: "Inter", sans-serif;
    background-color: white;
    border-radius:1000px;
    align-items: center;
}
.eyebrow-icon{
    width:24px;
    height:24px;
}
.eyebrow-text{
    margin:0;
}

.hero-main-text{
    width:100%;
    display:flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}
.green-text{
    color:#469165;
}
.hero-paragraph{
    width:700px;
    text-align: center;
}
.hero-button-wrap{
    width:800px;
    display:flex;
    gap:16px;
    justify-content: center;
    margin-top:20px;
}
.btn-one{
    display: flex;
    width: 255px;
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    padding: 13px 16px;
    font-size:16px;
    font-weight: 600;
    gap: 10px;
    background-color:#469165;
    color:white;
    border:none;
    border-radius: 4px;  
    align-items: center;
}
.btn-one:hover{
    background-color: #367b4e;
    cursor: pointer;
}
.btn-two{
    display: flex;
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    padding: 13px 16px;
    font-size:16px;
    font-weight: 600;
    gap: 10px;
    background-color:transparent;
    color:white;
    border:1px solid white;
    border-radius: 4px;  
}

.btn-two:hover{
    color:#367b4e;
    border:1px solid #367b4e;
    cursor: pointer;
}
.hero-paragraph p{
    font-family: "Inter", sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    color:white;
}

.card-section{
    padding-top:70px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.card-section-text{
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin:0px;
    gap:16px;
}
.cards{
    width:1360px;
    margin:40px 0px 0px 0px;
    display:flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.card{
    height:200px;
    width:33.33%;
    padding:50px 30px;
    display:flex;
    flex-direction:column;
    justify-content: center;
    align-items: center;
    gap:16px;
    border-radius: 8px;
    box-shadow: #d1d1d1 0px 4px 16px 0px; 
}
.card-image{
    width:64px;
    height:64px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color:#F95555;
    border-radius: 1000px;
}
.card-section p {
    font-family: "Inter", sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    text-align: center;
    color:#627382;
    padding: 0px;
    margin:0px;
}

.light-section{
    width:1360px;
    padding-top: 20px;
    margin:0 auto;
}

.light-section-wrap{
    display:flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap:20px;
    padding:50px 0px 50px 0px;
}
.knowledge-image{
    width:50%;
    background-color: #FBFBFB;
    border-radius: 8px;
}
.light-section-text{
    width: 50%;
}
.light-section-text .para {
    width:530px;
    font-family: "Inter", sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    color:#627382;
}
.ticks{
    display: flex;
    flex-direction: column;
    padding-top:20px;
    gap: 10px;
}
.tick{
    display: flex;
    flex-direction: row;
    align-items: center;
    padding-top: 16px;
    gap:6px;
    font-family: "Inter", sans-serif;
    font-size: 16px;
    font-weight: 400;
}
.circle{
    width:20px;
    height:20px;
}
.green-text2{
    font-family: "Inter", sans-serif;
    font-size: 16px;
    font-weight: 500;
    line-height: 10px;
    color:#469165;
}

.last-section-wrap{
    width:1360px;
    height: 384px;
    margin:0 auto;
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color:#F7F6F2;
    border-radius: 8px;
}

.last-section-text{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap:16px;
    margin:0px;
}
.buttons{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap:16px;
    padding-top:20px;
}
.button{
    display: flex;
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    padding: 13px 16px;
    font-size:16px;
    font-weight: 600;
    gap: 10px;
    background-color:#469165;
    color:white;
    border:none;
    border-radius: 4px;  
    align-items: center;
}   

.button:hover{
    background-color: #367b4e;
    cursor: pointer;
}
.texts{
    width:620px;
    font-family: "Inter", sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    text-align: center;
    color: #627382;
}
